server {
    listen $NGINX_LISTEN_PORT;

    root $NGINX_WEBROOT;
    server_name ${NGINX_SERVERNAME};

    location / {
        try_files $uri ${NGINX_TRY_FILES};
	client_max_body_size 100M;        
        
        if ($request_method = 'OPTIONS') {
            return 204;
         }
    }
    client_max_body_size 100M;
    sendfile off;
    location ~ ^/.+\.php(/|$) {
    	client_max_body_size 100M;
        fastcgi_pass ${NGINX_PHP_HOST_AND_PORT};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }
}


